{% extends 'base.html' %}  {# If you have a base template #}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="table-container">
    <h1>Delete Employee</h1>
    <p>Are you sure you want to delete?</p>
    <form action="" method="post" class="inline-form">
        {% csrf_token %}
        <button type="submit" class="btn-danger">Confirm</button>
    </form>
    <a href="{% url 'employee_list' %}" class="btn">Back to list</a>
</div>
{% endblock %}