<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Header Section -->
    <div id="header">
        <div id="title-section">
            <img src="{% static  'images/HR.png' %}" alt="HR Icon" class="icon"> 
            <h2>HR Management System</h2>
        </div>
        <a href="{% url 'employee_create' %}" class="add-employee-btn">+ Add Employee</a>
    </div>

    <!-- Main Content -->
    <h1>Employee List</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th>Hire Date</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td class="employee-name">{{ employee.name }}</td>
                    <td>{{ employee.department }}</td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.hire_date }}</td>
                    <td>{{ employee.email }}</td>
                    <td>
                        <a href="{% url 'employee_update' employee.pk %}" class="btn">Edit</a> |
                        <a href="{% url 'employee_delete' employee.pk %}" class="btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
