{% extends 'employees/base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <img src="{% static 'hr_app/images/HR.png' %}" alt="HR Icon" class="login-icon">
        <h2>HR Management System</h2>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}